################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Sbt.Test.Refactoring/bin/Debug
/Sbt.Test.Refactoring/obj/Debug
/Sbt.Test.Refactoring.Tests/bin/Debug
/Sbt.Test.Refactoring.Tests/obj/Debug
